html {
  margin: 0;
}
body{
  transition: all 0.3s ease-in-out;
}
span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
