* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080809;
    background: linear-gradient(rgb(55, 43, 226), rgb(82, 5, 154));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container {
    width: 80%;
    height: 600px;
    padding: 20px;
    color: white;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.table {
    background: #252323;
    width: 100%;
}

.table-section {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#book-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    word-wrap: break-word;
    background: #fff;
    color: #000;
}

#book-list > section {
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: relative;
}
#book-list > section > div:nth-child(2) {
    /* border-left: 1px solid #444444;
    border-right: 1px solid #444444; */
    width: 100%;
    position: relative;
}
#book-list > section > div:nth-child(2)::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    height: 200%;
    width: 0.2%;
    background-color: #ccc;
}
#book-list > section > div:nth-child(2)::after {
    content: "";
    position: absolute;
    top: -50%;
    right: 0;
    height: 200%;
    width: 0.2%;
    background-color: #ccc;
}
.btn {
    background: #1a1919;
    border: none;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.dlt-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 10%;
    transition: all 0.3s ease-in-out;
}
.dlt-btn:hover {
    color: red;
    background: #2523232f;
    cursor: pointer;
}
