html {
    font-family: sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    background: #333333 !important;
    /* background: url("https://i.pinimg.com/originals/cb/49/3c/cb493c4687425553507c309c069f6d39.gif"); */
}

.lastResult {
    color: white;
    padding: 7px;
}

.guesses {
    color: white;
    padding: 7px;
}

button {
    background-color: #141414;
    color: #fff;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    border-style: none;
    margin-top: 30px;
    /* margin-left: 50px; */
}

#subt {
    background-color: #161616;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border-style: none;
    margin-top: 25px;
    cursor: pointer;
    /* margin-left: 75px; */
}
#subt:hover {
    background-color: #222222;
}
.crimson {
    background-color: #dc143c !important;
}
.crimson:hover {
    background-color: #cc042c !important;
}

#guessField {
    color: #000;
    width: 250px;
    height: 50px;
    font-size: 30px;
    border-style: none;
    margin-top: 15px;

    /* margin-left: 50px; */
    border: 5px solid #6c6d6d;
    text-align: center;
}

#guess {
    font-size: 55px;
    /* margin-left: 90px; */
    /* margin-top: 120px; */
    color: #fff;
}

.guesses span {
    background-color: #7a7a7a;
    margin-inline: 1px;
    padding: 1px;
}

#wrapper {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 550px;
    /* background: url("https://i.pinimg.com/originals/cb/49/3c/cb493c4687425553507c309c069f6d39.gif"); */
    color: #fff;
    font-size: 25px;
}

h1 {
    background-color: #161616;

    color: #fff;
    text-align: center;
    margin-block-start: 0;
}

p {
    font-size: 16px;
    text-align: center;
}

/* .guesses {
    display: flex;
    flex-direction: row;
    gap: 2px;
} */

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.special {
    font-size: 25px;
    color: chartreuse;
}
.red {
    font-size: 16px;
    color: crimson;
}

.lowOrHi {
    margin-block-start: 0;
}
p {
    margin-block-end: 0;
}
